<div class="container-fluid single">
  <div class="row">
    <div class="content-panel header-content-panel">

      <div class="gravatar" align="center">
        <a href="{{ site.url }}"><img src="{{ site.title_image }}" class="about-image" alt="{{ site.title }}" /></a>
      </div>

      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}
      <h1 class="header" itemprop="name">{{ page.title }}</h1>
      {{ authorblock }}
    </div>
    {{ mainblock }}
  </div>
</div>