<nav id="my-menu">
  <div>
    <a href="{{ site.url }}"><img src="/img/logo.png" class="about-image" height="30" width="30" alt="Tower of Hanoi Blog"></a>
    <b>{{ site.title }}</b>
    <ul class="pages">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/posts/"><i class="fa fa-archive"></i> Writeup Archive</a></li>
      <li><a href="/about/"><i class="fa fa-user"></i> About</a></li>
      <li><a href="/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>
    <p class="links">
      {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
      {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
    </p>
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
